.pulse {
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    filter: blur(0.2px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0.2px);
  }
}
