:root {
  --primary-color: rgb(27, 91, 172);
  --primary-text-color: rgb(216, 216, 216)
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  user-select: none;
}

h1 {
  font-size: min(20vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-inline: 15px;
}

main {
  display: grid;
  justify-items: center;
  font-size: min(20vw, 4rem);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}

nav {
  position: absolute;
  right: 1rem;
  top: 1rem;
}